.containerChoose {
  max-width: 800px;
  margin: 0 auto;
}
/* Grid */
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.box li {
  display: flex;
  flex-direction: column;
}

.box li p {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  line-height: 20px;
  padding: 10px 0px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .box {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .box li p {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    line-height: normal;
    padding: 0px;
    margin-bottom: 0px;
  }
}

/* FlexBox
.box {
  display: flex;
  flex-wrap: wrap;
}

.box li {
  flex: 1 1 200px;
  margin: 10px;
}
*/

img {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  max-width: 100%;
  display: block;
}

strong {
  font-size: 14px;

  color: blueviolet;
}
span {
  color: rgb(247, 44, 206);
  font-size: 12px;
}
button {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  align-items: center;
  background-color: blueviolet;
  border-radius: 4px;
}

button span {
  color: cornsilk;
  font-size: 16px;
  margin-left: 5px;
}
